{
  "extends": ["airbnb-base", "airbnb-typescript/base"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "func-names": "off"
  }
}
